{
	auto_https off
}

https://localhost {
	reverse_proxy / svelte:5173

	handle_path /uploads/* {
		root * /srv/uploads
		file_server
	}

	file_server /uploads/* {
		precompressed gzip zstd br
	}

	handle_path /axum/* {
		reverse_proxy axum:3000
		uri strip_prefix /axum
	}

	handle {
		reverse_proxy svelte:5173
	}

	log {
		output stdout
		format console
		level INFO
	}
}
